# Credenciales por defecto para el logueo
EXPO_PUBLIC_DEMO_EMAIL=""
EXPO_PUBLIC_DEMO_PASSWORD=""

# URLs de OpenStreetMap para los tiles de mapa
EXPO_PUBLIC_OSM_TILE_URL=""

# URLs de OSRM (Open Source Routing Machine) para perfiles de rutas
EXPO_PUBLIC_OSRM_DRIVING_URL=""
EXPO_PUBLIC_OSRM_CYCLING_URL=""
EXPO_PUBLIC_OSRM_WALKING_URL=""
